<div class="sidebar">    
</div>   
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
    <ul>
        <h3>Navigation</h3>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/category#tech">Tech</a></li>
        <li><a href="{{ site.baseurl }}/category#management">Management</a></li>
        <li><a href="{{ site.baseurl }}/category#life">Life</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>       
    </ul>   
</nav>

{% include search-lunr.html %}
